@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&family=Open+Sans&family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Berkshire+Swash&family=Lobster&family=Open+Sans&family=Prompt:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}


.container {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 60vh auto auto;
    grid-template-areas: "header header"
                           "main main"
                           "footer footer"
                           ;
}

header {
background: url(./imagens/pexels1.jpg) no-repeat center right ;
background-size:cover;
grid-area: header;
}

main {
background-color: rgb(255, 220, 226);
grid-area: main;
}

footer {
background-color: white;
grid-area: footer;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu h1 {
    font-size: 25px;
    font-family: 'Berkshire Swash', cursive;
}
.menu ul {
    list-style: none;
    cursor: pointer;
}

.menu li {
    display: inline-block;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

.menu2 {
    
    margin: 90px 0px 0px 70px;
}

.menu2 h1 {
    font-size: 3em;
    font-family: 'Berkshire Swash', cursive;
}

.menu2 h2 {
    text-align: left;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.menu2 button  {
    font-size: 20px;
    margin: 30px 0px 20px 0px;
    padding: 8px 20px 8px 20px;
    background-color: rgb(255, 36, 72);
    border: 0;
    border-radius: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    cursor: pointer;
    
    
}

.menu2 button a {
    color: rgb(255, 194, 207);
    text-decoration: none;
}

.menu2 button a:hover{
    cursor: pointer;
}

.menu3{
    background-color:  rgb(255, 220, 226);
    text-align: center;
    width: 97.8vw;
    height: auto;
}
.menu3 h1 {
    margin-top: 30px;
    font-family: 'Berkshire Swash', cursive;
}

.menu3 ul{
    list-style: none;
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

.menu3 li {
    display: inline-block;
   padding: 10px;
    
}

.choose-cake {
    display: flex;
    justify-content: space-evenly;
    padding: -20px;
}

.choose-cake img {
    width: 20%;
    height: 500px;
    
}

.menu4 {
  margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    width: 97.8vw;
    height: auto;
}


.menu4 img, p {
   margin-top: 70px;
   margin-bottom: 70px;
   padding: 10px;
}

.menu4 p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: rgb(255, 36, 72);
}

.cake img {
margin-bottom: -35px;
}

.cake p {
    
}

.flavours {
    display: flex;
    justify-content: space-around;
    width: 97.8vw;
    height: auto;
    
}

.flavours img {
  width: auto;
}
#title {
    font-family: 'Berkshire Swash', cursive;
    margin: 30px 0;
    text-align: center;
}
.flavour {
    margin-left: 100px;
    margin-bottom: 20px;
}
.flavour h2 {
    padding: 10px;
    margin: 10px;
    font-family: 'Roboto Mono', monospace;
   text-align: justify;
}

.flavour p {
    width: 50%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12.5px;
}

.insta {
    background-color: white;
}
.insta  h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Berkshire Swash', cursive;
}

.imginsta  {
    display: flex;
    justify-content: space-evenly;
    
}
.imginsta img {
    width: 30vw;
    
}

.foot {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color:  rgb(255, 220, 226);
    width: 97.6vw;
    height: 8vh;
}
.foot h1 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 20px;
}
.logo img {
    margin: 20px;
   width: 50px;
   height: 50px;
}

#menu-aberto {
    display: none;
}

footer {
    
}


@media (max-width: 1000px){

    
     #menu-aberto {
        display: block;
        margin-left: 88vw;
        cursor: pointer;
     }

     #menu-fechado {
        display: none;
        position: absolute;
     margin-left: 80vw;
     transition: 1s;
     }

     .show {
        display: block !important;
        transition: 1s;
     }

     .hide {
        display: none;
     }
    .menu2 {
      position: static;
    }
     .menu li {
        
       display: flex;
       background-color: rgb(255, 191, 236);
     }
 

     .choose-cake {
        display: flex;
        flex-wrap: wrap;
     }

     .choose-cake img {
        width: 70%;
        height: 300px;
       padding: 10px;
     }
    .menu3 {
        display: none;
    }
     .menu4  {
        display: flex;
        flex-wrap: wrap; 
        
     }

     .cake  {
        
        width: 100%;
        text-align: center;
     }
     
     .cake p {
        margin-top: -60px;
        width: 100%;
     }
     .menu li:hover {
       
        background-color: rgb(201, 155, 245);
     }
    .flavours {
        display: block;
        text-align: center;
        margin-top: 20px;
    }
    .flavours img {
        width: 70% ;
    }
 .flavour {
  text-align: center;
    width: 55%;
    height: 600px;
 }
    .flavour h2 {
        text-align: center;
        width: 100%;
       
    }

    .flavour p {
        text-align: center;
        width: 100%;
    }

    .imginsta {
        display: flex;
        flex-wrap: wrap;
    }

    .imginsta img {
        padding: 10px;
        width: 70%;
    }
    .menu4 img, p {
        margin-top: 70px;
        margin-bottom: 70px;
        padding: 3px;
     }
     .logo img {
        margin: 10px;
       width: 5vw;
       height: 30px;
    }
   

}

